#main-page {
  background: url(../images/bg1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #862222;
}
#main-page .h1 {
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
#main-page .h1 span {
  color: #afae60;
  font-size: 70px;
  display: block;
  font-weight: bolder;
}
#main-page #step_3 {
  display: none;
}
#main-page #step_3 #bonus-code {
  display: none;
}
#main-page #reg-form .title {
  color: #fff;
  font-size: 20px;
}
@media (min-width: 768px) {
  #main-page {
    padding-top: 100px;
  }
}
